
body {
    font-family: 'Roboto';
    background-color: #F27653;
}

#chatBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y:scroll;
  align-items: center;
  /*overflow-x:hidden; */
  height:500px;
}

#inputBox {
  display: flex;
  justify-content: center;
  position: Centered;
}

#input {
  height: 20px;
  padding: 10px;
}

.msgBubble {
    width: 60%;
    border: 2px solid #dedede;
    background-color: #fefefe;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Style the right image */
.material-icons {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.timeRight, .nameRight {
    float: right;
    color: #545C65;
}

/* Style time text */
.timeLeft {
    float: left;
    color: #545C65;
}
